<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="src/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Osseus test suite">
            <directory suffix="Test.php">./tests/src</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <file>src/bootstrap.php</file>
                <file>src/Autoload/constants.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>